AdvancedWeb2/ppletes_zadaca_2_2/src/wsdl/localhost_8084/ppletes_zadaca_2_1/Zadaca2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.ppletes.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.ppletes.nwtis.foi.org/" name="Zadaca2">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.ppletes.nwtis.foi.org/" schemaLocation="http://localhost:8084/ppletes_zadaca_2_1/Zadaca2?xsd=1"/>
</xsd:schema>
</types>
<message name="sviKorisnici">
<part name="parameters" element="tns:sviKorisnici"/>
</message>
<message name="sviKorisniciResponse">
<part name="parameters" element="tns:sviKorisniciResponse"/>
</message>
<message name="dodajKorisnika">
<part name="parameters" element="tns:dodajKorisnika"/>
</message>
<message name="dodajKorisnikaResponse">
<part name="parameters" element="tns:dodajKorisnikaResponse"/>
</message>
<message name="dodajMojAerodrom">
<part name="parameters" element="tns:dodajMojAerodrom"/>
</message>
<message name="dodajMojAerodromResponse">
<part name="parameters" element="tns:dodajMojAerodromResponse"/>
</message>
<message name="mojAerodrom">
<part name="parameters" element="tns:mojAerodrom"/>
</message>
<message name="mojAerodromResponse">
<part name="parameters" element="tns:mojAerodromResponse"/>
</message>
<message name="imamAerodrom">
<part name="parameters" element="tns:imamAerodrom"/>
</message>
<message name="imamAerodromResponse">
<part name="parameters" element="tns:imamAerodromResponse"/>
</message>
<message name="zvjezdLozinka">
<part name="parameters" element="tns:zvjezdLozinka"/>
</message>
<message name="zvjezdLozinkaResponse">
<part name="parameters" element="tns:zvjezdLozinkaResponse"/>
</message>
<message name="mojiAerodromi">
<part name="parameters" element="tns:mojiAerodromi"/>
</message>
<message name="mojiAerodromiResponse">
<part name="parameters" element="tns:mojiAerodromiResponse"/>
</message>
<message name="najvecaVisinaLetaAviona">
<part name="parameters" element="tns:najvecaVisinaLetaAviona"/>
</message>
<message name="najvecaVisinaLetaAvionaResponse">
<part name="parameters" element="tns:najvecaVisinaLetaAvionaResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="dajAerodromeKorisnika">
<part name="parameters" element="tns:dajAerodromeKorisnika"/>
</message>
<message name="dajAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dajAerodromeKorisnikaResponse"/>
</message>
<message name="dajAerodromeNaziv">
<part name="parameters" element="tns:dajAerodromeNaziv"/>
</message>
<message name="dajAerodromeNazivResponse">
<part name="parameters" element="tns:dajAerodromeNazivResponse"/>
</message>
<message name="dajAerodromeDrzava">
<part name="parameters" element="tns:dajAerodromeDrzava"/>
</message>
<message name="dajAerodromeDrzavaResponse">
<part name="parameters" element="tns:dajAerodromeDrzavaResponse"/>
</message>
<message name="azurirajKorisnika">
<part name="parameters" element="tns:azurirajKorisnika"/>
</message>
<message name="azurirajKorisnikaResponse">
<part name="parameters" element="tns:azurirajKorisnikaResponse"/>
</message>
<message name="korisniciAerodroma">
<part name="parameters" element="tns:korisniciAerodroma"/>
</message>
<message name="korisniciAerodromaResponse">
<part name="parameters" element="tns:korisniciAerodromaResponse"/>
</message>
<message name="poletjeliAvioniAerodrom">
<part name="parameters" element="tns:poletjeliAvioniAerodrom"/>
</message>
<message name="poletjeliAvioniAerodromResponse">
<part name="parameters" element="tns:poletjeliAvioniAerodromResponse"/>
</message>
<portType name="Zadaca2">
<operation name="sviKorisnici">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/sviKorisniciRequest" message="tns:sviKorisnici"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/sviKorisniciResponse" message="tns:sviKorisniciResponse"/>
</operation>
<operation name="dodajKorisnika">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dodajKorisnikaRequest" message="tns:dodajKorisnika"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dodajKorisnikaResponse" message="tns:dodajKorisnikaResponse"/>
</operation>
<operation name="dodajMojAerodrom">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dodajMojAerodromRequest" message="tns:dodajMojAerodrom"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dodajMojAerodromResponse" message="tns:dodajMojAerodromResponse"/>
</operation>
<operation name="mojAerodrom">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/mojAerodromRequest" message="tns:mojAerodrom"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/mojAerodromResponse" message="tns:mojAerodromResponse"/>
</operation>
<operation name="imamAerodrom">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/imamAerodromRequest" message="tns:imamAerodrom"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/imamAerodromResponse" message="tns:imamAerodromResponse"/>
</operation>
<operation name="zvjezdLozinka">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/zvjezdLozinkaRequest" message="tns:zvjezdLozinka"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/zvjezdLozinkaResponse" message="tns:zvjezdLozinkaResponse"/>
</operation>
<operation name="mojiAerodromi">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/mojiAerodromiRequest" message="tns:mojiAerodromi"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/mojiAerodromiResponse" message="tns:mojiAerodromiResponse"/>
</operation>
<operation name="najvecaVisinaLetaAviona">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/najvecaVisinaLetaAvionaRequest" message="tns:najvecaVisinaLetaAviona"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/najvecaVisinaLetaAvionaResponse" message="tns:najvecaVisinaLetaAvionaResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeKorisnika">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaRequest" message="tns:dajAerodromeKorisnika"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeKorisnikaResponse" message="tns:dajAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajAerodromeNaziv">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeNazivRequest" message="tns:dajAerodromeNaziv"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeNazivResponse" message="tns:dajAerodromeNazivResponse"/>
</operation>
<operation name="dajAerodromeDrzava">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaRequest" message="tns:dajAerodromeDrzava"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/dajAerodromeDrzavaResponse" message="tns:dajAerodromeDrzavaResponse"/>
</operation>
<operation name="azurirajKorisnika">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/azurirajKorisnikaRequest" message="tns:azurirajKorisnika"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/azurirajKorisnikaResponse" message="tns:azurirajKorisnikaResponse"/>
</operation>
<operation name="korisniciAerodroma">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/korisniciAerodromaRequest" message="tns:korisniciAerodroma"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/korisniciAerodromaResponse" message="tns:korisniciAerodromaResponse"/>
</operation>
<operation name="poletjeliAvioniAerodrom">
<input wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromRequest" message="tns:poletjeliAvioniAerodrom"/>
<output wsam:Action="http://serveri.ws.ppletes.nwtis.foi.org/Zadaca2/poletjeliAvioniAerodromResponse" message="tns:poletjeliAvioniAerodromResponse"/>
</operation>
</portType>
<binding name="Zadaca2PortBinding" type="tns:Zadaca2">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sviKorisnici">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajMojAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mojAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="imamAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zvjezdLozinka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mojiAerodromi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="najvecaVisinaLetaAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="azurirajKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="korisniciAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poletjeliAvioniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Zadaca2">
<port name="Zadaca2Port" binding="tns:Zadaca2PortBinding">
<soap:address location="http://localhost:8084/ppletes_zadaca_2_1/Zadaca2"/>
</port>
</service>
</definitions>